@import "tailwindcss";
@import "./variables.css";
@import "./base.css";

html {
  font-family: "Pretendard", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-2);
  color: var(--color-tx-gray-1);
  min-height: 100vh;
  transition: all 0.2s ease-in-out;
}

.brand-logo {
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.no-result {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-background-1);
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;

  &.no-scroll {
    overflow: hidden;
  }
}

.screen::-webkit-scrollbar {
  display: none;
}

.screen::-webkit-scrollbar-thumb {
  background: transparent;
}

.font-cursive {
  font-family: "Dancing Script", cursive;
}

@keyframes skeleton-flow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
